<div>
	<div align="center" class="row-fluid" data-bind="if: allClients().length==0">
		<h4 class="text-info"> Client Stats Not Available</h4>
	</div>
	<div data-bind="if: allClients().length>0">
		<div>
			<div class="row-fluid">
				<h3 class="text-center"> Client Statistics </h3>
			</div>
			<div class="row-fluid">
				<table width=100% id="all_clients_table" class="display table table-striped table-bordered table-hover table-condensed">
					<thead class="dataTableHeader">
						<tr>
							<th>Host Name</th>
							<th>IP</th>     
							<th>Details</th>     
							<th>Sent Packets</th>
							<th>Sent Data</th>
							<th>Received Packets</th>
							<th>Received Data</th>
							<th>Total Packets</th>
							<th>Total Data</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: allClients">
						<tr>
							<td>
              					<a data-bind="attr:{ href: url}"><span data-bind="text: hostName"></span></a>
							</td>
							<td data-bind="text: ip"></td>
							<td data-bind="text: details"></td>
							<td data-bind="text: sentPackets"></td>
							<td data-bind="text: sentDataSize"></td>
							<td data-bind="text: recvPackets"></td>
							<td data-bind="text: recvDataSize"></td>
							<td data-bind="text: totalPackets"></td>
							<td data-bind="text: totalDataSize"></td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
Application.namespace("Application.PacketAnalyzer");

var client = function client(data){
	var self = this;
	self.hostName = ko.observable(data.host_name);
	self.ip = ko.observable(data.ip);
	self.details = ko.observable(data.details);
    self.stats = data.stats || {}
	self.totalPackets = ko.observable(self.stats.total_packets || 0);
	self.recvPackets = ko.observable(self.stats.total_recv_packets || 0);
	self.sentPackets = ko.observable(self.stats.total_sent_packets || 0);
	self.totalDataSize = ko.computed(function(){
		return self.stats.total_data || 0 + " Bytes"
	});
	self.recvDataSize = ko.computed(function(){
		return self.stats.total_recv_data || 0 + " Bytes"
	});
	self.sentDataSize = ko.computed(function(){
		return self.stats.total_sent_data || 0 + " Bytes"
	});
	self.url = ko.computed(function(){
        return '#/clients/show/' + self.hostName();
    });
}
Application.PacketAnalyzer.clientStats = function clientStats(data, $){
	var self = this;
	
	self.allClients = ko.observableArray(
		$.map(data.clients || [], function(clientData){
			return new client(clientData);
	}));
}

var applyFormBindings = function(data, tab_id){
	ko.applyBindings(new Application.PacketAnalyzer.clientStats(data, jQuery), $(tab_id)[0]);
};

</script>
